*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.maincard{
    width: 1005;
display: flex;
flex-direction: column;
gap: 50px;
}
span{
    color: green;
}
.link{
    text-decoration: none;
    color: black;
}
.mainimg{
    width: 300px;
    height: 400px;
}
.maincards{
   width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
   
}
.cards{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.subcards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   padding: 20px;
    width: 350px;
    height: 700px;
    border: 2px solid black;
}
.w{
    display: flex;
    gap: 20px;
}
.main p{
    width: 30%;
}
.error{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/download (1).png');
    background-size: cover;
    background-position: center;
    color: brown;

}
.no{
    display: none;
}
.change{
    display: block;
}
.img1{
    width: 100%;
    height: 400px;
}
.site{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.nav{
    display: flex;
}